---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name | lower }}-config
  namespace: {{ .Release.Namespace }}
data:
{{- if .Values.agentyml }}
 armory-agent.yml: |
{{ .Values.agentyml | indent 2}}
{{- else }}
 armory-agent.yml: |    
    hub:
      connection:        
        grpc: {{ .Values.grpcUrl }}        
        {{- if .Values.insecure }}
        insecure: true
        {{- end}}
        {{- if .Values.tls}}
        tls:
        {{- range $key, $val := .Values.tls }}
          {{ $key }}: {{ $val }}        
        {{- end }}
        {{- end }}
      {{- if .Values.cloudEnabled }}
      auth:
        armory:
          clientId: {{ required "clientId must be specified if using cloudEnabled=true" .Values.clientId }}
          secret: {{ required "clientSecret must be specified if using cloudEnabled=true" .Values.clientSecret }}
          tokenIssuerUrl: {{ .Values.tokenIssuerUrl | default  "https://auth.cloud.armory.io/oauth/token" }}
          audience: {{ .Values.audience | default "https://api.cloud.armory.io" }}
          verify: true
      {{- end }}

    {{- with .Values.kubernetes }}
    kubernetes:
      accounts:      
      {{- range $index, $account := .accounts }}
      {{- if eq $index 0 }}
      - name: {{ required "At least one account name must be specified, use: --set accountName=..." $.Values.accountName }}
      {{- else }}
      - name: {{ $account.name }}
      {{- end }}
        {{- range $key, $val := $account -}}
        {{- if not (or (eq $key "serviceAccount") (eq $key "kubeconfigFile")) }}        
        {{- if and (eq $key "namespaces") $account.onlyNamespacedResources }}
        namespaces: {{ $account.namespaces }}
        {{- else if (eq $key "customResourceDefinitions") }}
        customResourceDefinitions:
        {{- range $in, $crd := $account.customResourceDefinitions }}
        - kind: {{ $crd.kind }}
        {{- end }}
        {{- else if not (eq $key "name")}}
        {{ $key }}: {{ $val }}
        {{- end -}}
        {{- end -}}
      {{- end -}}
        {{- if or (eq $.Values.mode "agent") $account.serviceAccount }}
        serviceAccount: true
        {{- else }}
        kubeconfigFile: /kubeconfigfiles/config
        {{- end }}
      {{- end -}}
    {{- end -}}
{{- end }}
